<div class="demo review">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-slider" class="owl-carousel">
            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                Had dinner with friends. Menu is perfect, something for everyone. service is awesome and jason was vary
                accommodating.<br>will be back definitely!
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">KEVAL MANDALIK</h3>
                <span class="post">MAHUVA</span>
              </div>
            </div>
            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                Awesome place and good hospitality. Staffs are very cooperative. Very easy to enter from Highway.<br>
                Foods are yummy.<br> I love to visit here again with my family.
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">SANJAY DHORIYA</h3>
                <span class="post">VINCHHIYA</span>
              </div>
            </div>

            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                I had lunch with some of my colleagues at Echo on day 1. i had the wedge salad - it was delicious. on
                night 2 , i enjoyed a drink at bar. <br>The service was excellent.
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">ARCHIT SUTHAR</h3>
                <span class="post">IDAR</span>
              </div>
            </div>
            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                The food was absolutely wonderfull, from preparation to presentation, very pleasing. we especially
                enjoyed the special pizzas. had a great night that day there.
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">OM TITA</h3>
                <span class="post">JUNAGADH</span>
              </div>
            </div>
            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                The food was absolutely wonderfull, from preparation to presentation, very pleasing. we especially
                enjoyed the special pizzas. had a great night that day there.
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">KHI KHI</h3>
                <span class="post">JUNAGADH</span>
              </div>
            </div>
            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                Lovely lunch today. ordered the sandwich and was pleased by the quality of it. as well as nicely toasted
                roll,thick slice and hot. <br> A very good experiance.
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">RAHUL SHEKH</h3>
                <span class="post">RAJKOT</span>
              </div>
            </div>
            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                Lovely lunch today. ordered the sandwich and was pleased by the quality of it. as well as nicely toasted
                roll,thick slice and hot. <br> A very good experiance.
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">RAHUL SHEKH</h3>
                <span class="post">RAJKOT</span>
              </div>
            </div>
            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                Lovely lunch today. ordered the sandwich and was pleased by the quality of it. as well as nicely toasted
                roll,thick slice and hot. <br> A very good experiance.
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">RAHUL SHEKH</h3>
                <span class="post">RAJKOT</span>
              </div>
            </div>
            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                Lovely lunch today. ordered the sandwich and was pleased by the quality of it. as well as nicely toasted
                roll,thick slice and hot. <br> A very good experiance.
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">RAHUL SHEKH</h3>
                <span class="post">RAJKOT</span>
              </div>
            </div>
            <div class="testimonial">
              <span class="icon fa fa-quote-left"></span>
              <p class="description">
                Lovely lunch today. ordered the sandwich and was pleased by the quality of it. as well as nicely toasted
                roll,thick slice and hot. <br> A very good experiance.
              </p>
              <div class="testimonial-content">
                <div class="pic"><img src="https://img.icons8.com/bubbles/100/000000/edit-user.png" alt=""></div>
                <h3 class="title">RAHUL SHEKH</h3>
                <span class="post">RAJKOT</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>