<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="Images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  
  <style>
    /**************MODAL {SIGN UP}**************/
    .signup_dialog {
      max-width: 70%;
    }

    /**************MODAL {SIGN IN}**************/
    .signin_dialog {
      max-width: 70%;
    }

    /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap'); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.about-wrapper{
    height: 100vh;
}

.about-left{
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: gray;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
    display: block;
    width: 206px;
    
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: #212121;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.about-right{
    background: transparent;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
  color: #fff;
    font-size: 7rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #ffc107;
}
.about-right h2{
  color: white;
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #ffc107;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn a{
  text-decoration: none;
  color: #212121;
}
.btn.btn-pink{
    background: #ffc107;
    color: #212529;
    border-color: #ffc107;
    transition: all 0.5s ease-in-out;
  }
  .btn.btn-pink:hover{
    background: transparent;
    border-color: #ffc107;
    color: white;
  }
  .btn.btn-pink a:hover{
    
    color: white;
  }
  .btn.btn-white{
    background: #ffc107;
    color: #212529;
    border-color: #ffc107;
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: transparent;
    border-color: #ffc107;
    color: #fff;
}
.btn.btn-white a:hover{
    
    color: white;
  }
.about-para p{
  color: white;
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right:12%;
    }
   

   
}
@media screen and (max-width:991px){
  .about-right {   
    height: auto;
     padding: 0 0;
}
    }
    
  </style>
  <title> Welcome to FoodAdda </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" href="#"><img id="logo" src="/public/Images/logo.jpg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  ">
          <a class="nav-link text-warning" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/gallery">Gallery <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/order">Order<span class="sr-only"></span></a>
        </li>
       
        <li class="nav-item active">
          <a class="nav-link " href="#">About Us <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/contact">Contact Us<span class="sr-only"></span></a>
        </li>

      </ul>
     
    </div>
  </nav>

  <div class = "about-wrapper">
    <div class = "about-left">
      <div class = "about-left-content">
        <div>
          <div class = "shadow">
            <div class = "about-img">
              <img src = "/public/Images/fa1.png" alt = "about image">
            </div>
          </div>

          <h2>Be happy, Be healthy</h2>
          <h3>FOOD ADDA</h3>
        </div>

        <ul class = "icons">
          <li><i class = "fab fa-facebook-f"></i></li>
          <li><i class = "fab fa-twitter"></i></li>
          <li><i class = "fab fa-linkedin"></i></li>
          <li><i class = "fab fa-instagram"></i></li>
        </ul>
      </div>
    </div>

    <div class = "about-right">
      <h1 id="hi">hi<span>!</span></h1>
      <h2>Here's who we are & why people choose us</h2>
      <div class = "about-btns">
        <button type = "button" class = "btn btn-pink"><a href="/order">Order Now</a> </button>
        <button type = "button" class = "btn btn-white"><a href="/contactUs">Contact us</a> </button>
      </div>

      <div class = "about-para">
        <p>If you’ve never been to our restaurant before, you should know that it's a large dining room that can seat many people. With that sort of space, we have the capacity to host a range of events and special occasions.</p>
        <p>The Spot Restaurant is happy to be the venue for your next presentation, reunion, party, luncheon or banquet. With two banquet rooms, presentation screens, an LCD projector and a podium, The Spot Restaurant can transform a space into the perfect site for your gathering.</p>
        <p>Whether you want to have your associates attend a training luncheon or you're planning a birthday party, trust that we have the space, equipment and menu to accommodate any occasion. To reserve a space for your next event, come by the restaurant or call +91 93286 81205 today.</p>
      </div>
    </div>
  </div>

  

  <!------------------------------- just a space maker  -------------------------------------->
  <div class="container" style="height:100px">
  </div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>