<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <link rel="shortcut icon" href="/public/Images/favicon.ico" type="image/x-icon">
    <style>
        /**************MODAL {SIGN UP}**************/
        .signup_dialog {
          max-width: 70%;
        }
    
        /**************MODAL {SIGN IN}**************/
        .signin_dialog {
          max-width: 70%;
        }
        
      </style>

<title> Welcome to FoodAdda </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <a class="navbar-brand" href="#"><img id="logo" src="/public/Images/logo.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item  ">
              <a class="nav-link text-warning" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="#">Gallery <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="/order">Order<span class="sr-only"></span></a>
            </li>
           
            <li class="nav-item ">
              <a class="nav-link text-warning" href="/about">About Us <span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-warning" href="/contact">Contact Us<span class="sr-only"></span></a>
            </li>
    
          </ul>
         
        </div>
      </nav>

    <!------------------------------------------ gallery ---------------------------------- -->


    <div class="container gallery">
        <div id="ourFood">
            <span> Our Food</span>

            <div class="box">
                <img src="/public/Images/img (1).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (2).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (3).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (4).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (5).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (6).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (7).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (8).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (9).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (10).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (11).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (12).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (13).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (14).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (15).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (16).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/Gallery4.jpeg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/Gallery5.jpg" alt="">
            </div>
            
            <div class="box">
                <img src="/public/Images/img (18).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (19).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (20).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (21).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (22).jpg" alt="">
            </div>
            
            <div class="box">
                <img src="/public/Images/img (26).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (27).jpg" alt="">
            </div>
            <div class="box">
                <img src="/public/Images/img (28).jpg" alt="">
            </div>
            

        </div>

        <div id="ourRest">
            <span>Our Restaurants</span>
            <div class="box">
                <img src="/public/Images/Gallery8.jpg" alt="">
            </div>
        </div>
    </div>








    <!-- ------------------------------------------------------------------------------------- -->
    <!-- Carousel{End} -->
    <!--Whatsapp Support-->
    <a href="https://api.whatsapp.com/send?phone=919328681205&text=I Want to Order Food." class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <!--Whatsapp Support-->
    <div class="container" style="height:100px">
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</body>

</html>