<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/orderStyle.css">
  <link rel="stylesheet" href="/public/style2.css">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="Images/favicon.ico" type="image/x-icon">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <style>
    /**************MODAL {SIGN UP}**************/
    .signup_dialog {
      max-width: 70%;
    }

    /**************MODAL {SIGN IN}**************/
    .signin_dialog {
      max-width: 70%;
    }

    html {
      scroll-behavior: smooth;
    }
  </style>
  <title> Welcome to FoodAdda </title>
</head>

<body>
  <!-- ---------------------------------- navbar -------------------------------------------- -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" href="/"><img id="logo" src="/public/Images/logo.jpg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  ">
          <a class="nav-link text-warning" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/gallery">Gallery <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="#">Order<span class="sr-only"></span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-warning" href="/about">About Us <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/contact">Contact Us<span class="sr-only"></span></a>
        </li>

      </ul>
     
    </div>
  </nav>
  <br>

  <!-- our menu heading -->
  <div class="menuHead mt-3 text-warning">
    <p style="text-align: center;font-size: 50px;">Our Menu</p>
  </div>
  <!-- ------------------------------------------------------------------------------------- -->
  <!----------------------------------- Menu Container Starts here ------------------------------->
  <div id="MenuContainer" class="container">
    <!-- cards  -->
    <div class="cards">
      <!-- starter card  -->
      <div id="foodCard" class="card d-inline-block" style="width: 18rem;">
        <img src="/public/Images/Order Items/S5-samosa matar chat.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#starter" class="btn btn-warning">Our Starter</a>
        </div>
      </div>

      <!-- lunch card  -->
      <div id="foodCard" class="card d-inline-block" style="width: 18rem;">
        <img src="/public/Images/Order Items/L3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#lunch" class="btn btn-warning">Our Lunch</a>
        </div>
      </div>


      <!-- dinner card  -->
      <div id="foodCard" class="card d-inline-block" style="width: 18rem;">
        <img src="/public/Images/Order Items/D6-Butter Pav bhaji.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#dinner" class="btn btn-warning">Our Dinner</a>
        </div>
      </div>

      <!-- dessert card  -->
      <div id="foodCard" class="card d-inline-block" style="width: 18rem;">
        <img src="/public/Images/Order Items/DE4-Kaala jamun.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#dessert" class="btn btn-warning">Our Dessert</a>
        </div>
      </div>
    </div>
    <!-- Order Food with types  -->
    <div class="Menu">



      <!-- lunch menu  -->

    </div>


  </div>

  <section id="starter" class="container content-section">
    <h1 class="section-header">Starter</h1>
    <div class="shop-items">
      <div class="shop-item">
        <span class="shop-item-title">Pauha</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/S4-Poha with Sev.jpeg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">40</span>
          <!-- <button class="btn btn-primary shop-item-button" type="button">ADD TO ORDER</button> -->
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="40">Add To Order</a>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title">Tomato Soup</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/S1- roasted red pepper tomato soup.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">50</span>
          <!-- <button class="btn btn-primary shop-item-button" type="button">ADD TO ORDER</button> -->
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="50">Add To Order</a>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title">Carrot Soup</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/S2-Creamy-chipotle-carrot-soup.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">70</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="70">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Samosa</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/S5-samosa matar chat.jpeg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">60</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="60">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Kachumber Salad</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/S7-kachumber-salad-cucumber.jpeg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">40</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="40">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Vegetable Green-Curry</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/S3-vegetable-green-curry.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">90</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="90">Add To Order</a>
        </div>
      </div>
    </div>
  </section>

  <section id="lunch" class="container content-section">
    <h1 class="section-header">Lunch</h1>
    <div class="shop-items">
      <div class="shop-item">
        <span class="shop-item-title"> Chole Bhature</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/L2.jpeg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">140</span>
          <!-- <button class="btn btn-primary shop-item-button" type="button">ADD TO ORDER</button> -->
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="140">Add To Order</a>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title">Idaly Sambhar</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/L3.jpeg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">110</span>
          <!-- <button class="btn btn-primary shop-item-button" type="button">ADD TO ORDER</button> -->
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="110">Add To Order</a>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title">Masala Dosa</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/L4.jpeg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">120</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="120">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title"> Appam With Side Dish</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/L5.jpeg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">124</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="124">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Chipotle Paneer Sandwich</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/L9.jpeg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">175</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="175">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Corn Cheese Sandwich</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/L8.jpeg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">199</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="199">Add To Order</a>
        </div>
      </div>
    </div>
  </section>

  <section id="dinner" class="container content-section">
    <h1 class="section-header">Dinner</h1>
    <div class="shop-items">

      <div class="shop-item">
        <span class="shop-item-title">Punjabi Thali(with lassi)</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/D1-Punjabi thali ( with lassi ).jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">199</span>
          <!-- <button class="btn btn-primary shop-item-button" type="button">ADD TO ORDER</button> -->
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="199">Add To Order</a>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title">Kathiyawadi full dish</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/D5-Kathiyawadi full dish.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">120</span>
          <!-- <button class="btn btn-primary shop-item-button" type="button">ADD TO ORDER</button> -->
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="120">Add To Order</a>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title">Spring Roll Dosa</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/D2-Spring roll dosa.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">180</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="180">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Masal Fry</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/D3-Masala fry.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">120</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="120">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Chees Uttapam</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/D4-Chees uttapam.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">149</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="149">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Butter Pav bhaji</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/D6-Butter Pav bhaji.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">149</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="149">Add To Order</a>
        </div>
      </div>
    </div>
  </section>

  <section id="dessert" class="container content-section">
    <h1 class="section-header">Dessert</h1>
    <div class="shop-items">

      <div class="shop-item">
        <span class="shop-item-title">Fruits with Nutella and Cream</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/DE1-Fruits with Nutella and whipped Cream.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">190</span>
          <!-- <button class="btn btn-primary shop-item-button" type="button">ADD TO ORDER</button> -->
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="190">Add To Order</a>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title">Crackling Brownie</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/DE2-Crackling brownie.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">129</span>
          <!-- <button class="btn btn-primary shop-item-button" type="button">ADD TO ORDER</button> -->
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="129">Add To Order</a>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title">Moong Dal Halwa</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/DE3-Moong dal halwa.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">118</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="118">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Kaala Jamun</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/DE4-Kaala jamun.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">201</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="201">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Chocolate Pizza</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/DE5-Chocolate pizza.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">299</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="299">Add To Order</a>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Brownie Fudge</span>
        <img class="shop-item-image rounded" src="/public/Images/Order Items/DE6-Brownie fudge.jpg">
        <div class="shop-item-details">
          <span class="rupee">₹</span>
          <span class="shop-item-price">179</span>
          <a href="#0" class="cd-add-to-cart js-cd-add-to-cart bg-warning" data-price="179">Add To Order</a>
        </div>
      </div>
    </div>
  </section>


  <!-- --------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->
  <!-- ----------------- this is brand new new new Your Order (Cart) ------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->


  <div class="cd-cart cd-cart--empty js-cd-cart">
    <a href="#0" class="cd-cart__trigger text-replace">

      <ul class="cd-cart__count">
        <!-- cart items count -->
        <li>0</li>
        <li>0</li>
      </ul> <!-- .cd-cart__count -->
    </a>

    <div class="cd-cart__content">
      <div class="cd-cart__layout">
        <header class="cd-cart__header">
          <h2 style="font-size: medium;"> YOUR ORDER </h2>
          <span class="cd-cart__undo">Item removed. <a href="#0">Undo</a></span>

        </header>



        <div class="cd-cart__body">
          <p>Food Item<span style="float: right;">Price (₹)</span></p>
          <hr>
          <ul class="orderConfirm">
            <!-- products added to the cart will be inserted here using JavaScript -->
          </ul>
        </div>

        <footer class="cd-cart__footer">
          <a href="#0" class="cd-cart__checkout" data-toggle="modal" data-target="#exampleModal">
            <em>See Order List - ₹<span>0</span>
              <svg class="icon icon--sm" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor">
                  <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21"
                    y2="12" />
                  <polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    points="15,6 21,12 15,18 " />
                </g>
              </svg>
            </em>
          </a>
        </footer>
      </div>
    </div> <!-- .cd-cart__content -->
  </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Your Order</h5>
          <button id="actionEnable" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="orderModalBody">

        </div>
        <form>
          <div class="modal-footer">
            <input type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="Your Name"
              required>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp"
              placeholder="Your Email" required>
          </div>
          <div class="input-group mb-3 px-3 pt-1 pb-1">
            <input id="userAddress" type="text" class="form-control" aria-describedby="inputGroup-sizing-sm"
              placeholder="Your Address" required>
          </div>

          <div class="modal-footer">
            <input type="text" class="form-control" id="promoCode" aria-describedby="emailHelp"
              placeholder="Promo Code">
            <button type="button" id="promo" class="btn btn-secondary">Apply</button>
            <button type="submit" id="comfirmed" class="btn btn-primary">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ------------------modal ----------------- -->
  <!-- -- --------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->
  <!-- ----------------- this is brand new new new Your Order (Cart) ------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->







  <!------------------------------- just a space maker  -------------------------------------->

  <!------------------------------- just a space maker  -------------------------------------->
  <div class="container" style="height:100px">
  </div>

  <!-- ------------------------------------------- footer ---------------------------------------- -->

  <!-- Footer -->
  <footer class="page-footer pt-4 text-light">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div id="fc1" class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <div class="fLogo">
            <img src="/public/Images/noBGLogo.png" alt="logo" width="100px">
          </div>
          <div style="text-align: center;font-size: 25px;"> SOCIAL LINKS</div><br>
          <div class="Social mx-auto">

            <a href="">
              <img src="/public/Images/facebook1.png" alt="">
              <p style="color:#007bff;"> Facebook</p>
            </a>
            <a href="">
              <img src="/public/Images/Instagram.png" alt="">
              <p style="color: rgb(233, 80, 187);"> Instagram</p>
            </a>
            <a href="">
              <img src="/public/Images/Youtube.png" alt="">
              <p style="color: rgb(255, 30, 0);">Youtube</p>
            </a>
          </div>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div id="fc2" class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-5">
          <h4 class="text-uppercase mb-4 font-weight-bold">For You</h4>
          <p>
            <a class="flink" href="#!">Privacy</a>
          </p>
          <p>
            <a class="flink" href="#!">Security</a>
          </p>
          <p>
            <a class="flink" href="#!">Terms</a>
          </p>
          <p>
            <a class="flink" href="#!">Sitemap</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div id="fc3" class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-5">
          <h4 class="text-uppercase mb-4 font-weight-bold">For Foodies</h4>
          <p>
            <a class="flink" href="#!">Code of Conduct</a>
          </p>
          <p>
            <a class="flink" href="#!">Blogger Help</a>
          </p>
          <p>
            <a class="flink" href="#!">Community</a>
          </p>
          <p>
            <a class="flink" href="#!">Help</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div id="fc4" class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-5">
          <h4 class="text-uppercase mb-4 font-weight-bold">Contact</h4>
          <p>
            <span style="font-size: 26px;vertical-align: sub;" class="material-icons">
              home</span>&nbsp; FoodAdda Restaurants Building, Oppo. Samras Hostel,Vadodara,Gujarat,India
          </p>
          <p>
            <span style="font-size: 26px;vertical-align: sub;" class="material-icons">
              email</span>&nbsp;foodadda@gmail.com
          </p>
          <p>
            <span style="font-size: 26px;vertical-align: sub;" class="material-icons">
              phone</span>&nbsp;+91 987 654 3210
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr style="background-color: aliceblue;">

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8 d-inline-block">

          <!--Copyright-->
          <p class="text-center text-md-right">© 2021 Copyright:
            <a href="#">
              <strong> FoodAdda Restaurants</strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">


        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->





  <!-- --------------------------------------------------------------------------------------- -->
  <!-------------------- all the script and script-links goes here  -------------------------->
  <script src="/public/script.js"></script>
  <script src="/public/main.js"></script>
  <script src="/public/util.js"></script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="/public/script.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- --------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------- -->
</body>

</html>