<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar_signin.ejs')%>
    <form action="/signin" method="post">
      <div class="container">
        <p class="validation"></p>
        <div class="mb-3">
          <label for="Email1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="Email1" aria-describedby="emailHelp" required placeholder="Enter Email">
        </div>
        <div class="mb-3">
          <label for="Password1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="Password1" required placeholder="Enter Password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="Check1">
          <label class="form-check-label" for="Check1">Check me out</label>
        </div>
        <input type="submit"  class="btn btn-outline-warning sign_nav" value="Log In">
        <span class="footer">Don't have Account?<a href="/signup"> Sign Up</a></span> 
      </div>
      </form>
</body>
<script src="/public/script.js"></script>
</html>